    body {
      background-color: #1D1C1A;
    }
    h1 {
      color: white;
      font-family: "PT Sans", Calibri, Tahoma, sans-serif;
      text-align: center;
    }
    p {
      color: red;
    }