<!DOCTYPE html>
<html>
  <head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>My Website</title>
  </head>

  <body class="bg-gray-900">
    <div class="text-white text-4xl text-center font-sans">Stock Viewer</div>

        <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div id="tradingview_f7811"></div>
              <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL stock chart</span></a> by TradingView</div>
              <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
              <script type="text/javascript">
              new TradingView.widget(
              {
              "autosize": false,
              "symbol": "NASDAQ:AAPL",
              "interval": "D",
              "timezone": "US/Mountain",
              "theme": "dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "allow_symbol_change": true,
              "container_id": "tradingview_f7811"
            }
              );
              </script>
            </div>
        <!-- TradingView Widget END -->
  </body>
</html>
